* {
    background-color: #FFFF;
}

.header_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #0BB5FF;
    font-size: 35px;
}

.todo_header {
    display: flex;
    align-items: center;
    width: 500px;
}

#input {
    padding: 15px;
    border-radius: 5px;
    width: 500px;
    margin: 10px 0 10px 10px;
}

#add-box {
    margin: 10px;
    font-size: 40px;
    color: #C8C8C8;
}

#add-box:hover {
    cursor: pointer;
}

hr {
    border-width: 3px;
    border-style: solid;
    border-color: #0BB5FF;
    opacity: 0.2;
}

#todo_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#0BB5FF;
}

.material-icons.cb-unchecked {
    color: #C8C8C8;
}

.material-icons.cb-unchecked:hover {
    cursor: pointer;
}

#create,#delete {
    color:#0BB5FF;
    flex: 3;
}

#delete {
    flex: 1;
    max-width: fit-content;
}

#create {
    display: flex;
    flex-direction: row;
    margin: 5px
}

#check_icon {
    margin-right: 10px;
}


